{% extends "base.html" %}

{% block title %} Add Order Data Page {% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
<!-- Form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="needs-validation" novalidate>
                {{ form.csrf_token }}
                <!-- Display flash messages on form submission and validation failure -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- Order ID Field -->
                <div class="form-group">
                    <label for="Order_ID">Order ID</label>
                    <input type="text" id="Order_ID" name="Order_ID" class="form-control" value="{{ form.Order_ID.data }}" readonly>
                </div>

                <!-- Date Field -->
                <div class="form-group">
                    <label for="Date">Date</label>
                    <input type="text" id="Date" name="Date" class="form-control" placeholder="YYYY-MM-DD" value="{% if form.Date.data %}{{ form.Date.data }}{% endif %}">
                    {% for error in form.Date.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Customer ID Field -->
                <div class="form-group">
                    <label for="Customer_ID">Customer ID</label>
                    <input type="text" id="Customer_ID" name="Customer_ID" class="form-control" placeholder="Enter Customer ID" value="{% if form.Customer_ID.data %}{{ form.Customer_ID.data }}{% endif %}">
                    {% for error in form.Customer_ID.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Price Field -->
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="text" id="Price" name="Price" class="form-control" placeholder="Enter Price" value="{% if form.Price.data %}{{ form.Price.data }}{% endif %}">
                    {% for error in form.Price.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Additional Fields -->
                <div class="form-row">
                    <div class="col-md-6">
                        <!-- Chair Field -->
                        <div class="form-group">
                            <label for="Chair">Chair</label>
                            <input type="text" id="Chair" name="Chair" class="form-control" placeholder="Enter amount of Chairs" value="{% if form.Chair.data %}{{ form.Chair.data }}{% endif %}">
                        </div>

                        <!-- Stool Field -->
                        <div class="form-group">
                            <label for="Stool">Stool</label>
                            <input type="text" id="Stool" name="Stool" class="form-control" placeholder="Enter amount of Stools" value="{% if form.Stool.data %}{{ form.Stool.data }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Table Field -->
                        <div class="form-group">
                            <label for="Table">Table</label>
                            <input type="text" id="Table" name="Table" class="form-control" placeholder="Enter amount of Tables" value="{% if form.Table.data %}{{ form.Table.data }}{% endif %}">
                        </div>

                        <!-- Cabinet Field -->
                        <div class="form-group">
                            <label for="Cabinet">Cabinet</label>
                            <input type="text" id="Cabinet" name="Cabinet" class="form-control" placeholder="Enter amount of Cabinets" value="{% if form.Cabinet.data %}{{ form.Cabinet.data }}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <!-- Dresser Field -->
                        <div class="form-group">
                            <label for="Dresser">Dresser</label>
                            <input type="text" id="Dresser" name="Dresser" class="form-control" placeholder="Enter amount of Dresser" value="{% if form.Dresser.data %}{{ form.Dresser.data }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Couch Field -->
                        <div class="form-group">
                            <label for="Couch">Couch</label>
                            <input type="text" id="Couch" name="Couch" class="form-control" placeholder="Enter amount of Couches" value="{% if form.Couch.data %}{{ form.Couch.data }}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <!-- Bed Field -->
                        <div class="form-group">
                            <label for="Bed">Bed</label>
                            <input type="text" id="Bed" name="Bed" class="form-control" placeholder="Enter amount of Beds" value="{% if form.Bed.data %}{{ form.Bed.data }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Shelf Field -->
                        <div class="form-group">
                            <label for="Shelf">Shelf</label>
                            <input type="text" id="Shelf" name="Shelf" class="form-control" placeholder="Enter amount of Shelves" value="{% if form.Shelf.data %}{{ form.Shelf.data }}{% endif %}">
                        </div>
                    </div>
                </div>

                <br/>
                <button type="submit" class="btn btn-dark" onclick="return confirm('Are you sure you want to add this order?')">Submit</button>
                <a href="{{ url_for('holzbauag.order_data') }}" class="btn btn-dark back-button">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}


