{% extends "base.html" %}

{% block title %} Add Customer Data Page {% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>

<!-- Form -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="Customer_ID">Customer ID</label>
                    <input type="text" id="Customer_ID" name="Customer_ID" class="form-control" value="{{ form.Customer_ID.data }}">
                </div>
                <div class="form-group">
                    <label for="Customer_First_Name">First Name</label>
                    <input type="text" id="Customer_First_Name" name="Customer_First_Name" class="form-control" value="{{ form.Customer_First_Name.data }}">
                </div>
                <div class="form-group">
                    <label for="Customer_Last_Name">Last Name</label>
                    <input type="text" id="Customer_Last_Name" name="Customer_Last_Name" class="form-control" value="{{ form.Customer_Last_Name.data }}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Age">Age</label>
                    <input type="text" id="Age" name="Age" class="form-control" value="{{ form.Age.data }}">
                </div>
                <div class="form-group">
                    <label for="Country">Country</label>
                    <input type="text" id="Country" name="Country" class="form-control" value="{{ form.Country.data }}">
                </div>
                <br/>
                <button type="submit" class="btn btn-dark">Submit</button>
                <a href="javascript:history.go(-1)" class="btn btn-dark back-button">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


