{% extends "base.html" %}

{% block title %}Customer Data Page{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
    <!-- Button to add new order data -->
    <a href="{{ url_for('holzbauag.add_customer_data') }}" class="btn btn-dark">Add Customer Data</a>
    <!-- Display order_data table -->
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Edit Data</th>
                    <!-- Add other table headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_data %}
                <tr>
                    <td>{{ customer.Customer_ID }}</td>
                    <td>{{ customer.Customer_First_Name }}</td>
                    <td>{{ customer.Customer_Last_Name }}</td>
                    <td>{{ customer.Age }}</td>
                    <td>{{ customer.Country }}</td>
                    <td><a href="/edit_customer/{{ customer.Customer_ID }}">Edit</a></td>
                    <!-- Add other table data as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
