{% extends "base.html" %}

{% block title %}
    Customer Data Page
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
    <!-- Display flash message-->
    {% include "messages.html" %}
    <!-- Display customer_data table -->
    <div class="container mt-5">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Edit Data</th>
                    <!-- Add other table headers as needed -->
                </tr>
            </thead>
            <tbody>
                <!-- Empty row for add data button -->
                <tr>
                    <td colspan="5"></td> <!-- span across all columns -->
                    <td><a href="{{ url_for('holzbauag.add_customer_data') }}" class="btn btn-outline-success btn-sm">Add Data</a></td>
                </tr>
                {% for customer in customer_data %}
                <tr>
                    <td>{{ customer.Customer_ID }}</td>
                    <td>{{ customer.Customer_First_Name }}</td>
                    <td>{{ customer.Customer_Last_Name }}</td>
                    <td>{{ customer.Age }}</td>
                    <td>{{ customer.Country }}</td>
                    <td><a href="/edit_customer/{{ customer.Customer_ID }}" class="btn btn-outline-dark btn-sm">Edit</a></td>
                    <!-- Add other table data as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; 2024 Holzbau AG. All rights reserved.</p>
    </footer>
{% endblock %}

