{% extends "base.html" %}

{% block title %} Edit Order Data Page {% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>

    <!-- Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="/edit_order/{{ order.Order_ID }}" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="Order_ID">Order ID</label>
                        <input type="text" id="Order_ID" name="Order_ID" class="form-control" value="{{ order.Order_ID }}">
                    </div>
                    <div class="form-group">
                        <label for="Date">Date</label>
                        <input type="text" id="Date" name="Date" class="form-control" value="{{ order.Date }}">
                    </div>
                    <div class="form-group">
                        <label for="Customer_ID">Customer ID</label>
                        <input type="text" id="Customer_ID" name="Customer_ID" class="form-control" value="{{ order.Customer_ID }}">
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="text" id="Price" name="Price" class="form-control" value="{{ order.Price }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Chair">Chair</label>
                        <input type="text" id="Chair" name="Chair" class="form-control" value="{{ order.Chair }}">
                    </div>
                    <div class="form-group">
                        <label for="Stool">Stool</label>
                        <input type="text" id="Stool" name="Stool" class="form-control" value="{{ order.Stool }}">
                    </div>
                    <div class="form-group">
                        <label for="Table">Table</label>
                        <input type="text" id="Table" name="Table" class="form-control" value="{{ order.Table }}">
                    </div>
                    <div class="form-group">
                        <label for="Cabinet">Cabinet</label>
                        <input type="text" id="Cabinet" name="Cabinet" class="form-control" value="{{ order.Cabinet }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Dresser">Dresser</label>
                        <input type="text" id="Dresser" name="Dresser" class="form-control" value="{{ order.Dresser }}">
                    </div>
                    <div class="form-group">
                        <label for="Couch">Couch</label>
                        <input type="text" id="Couch" name="Couch" class="form-control" value="{{ order.Couch }}">
                    </div>
                    <div class="form-group">
                        <label for="Bed">Bed</label>
                        <input type="text" id="Bed" name="Bed" class="form-control" value="{{ order.Bed }}">
                    </div>
                    <div class="form-group">
                        <label for="Shelf">Shelf</label>
                        <input type="text" id="Shelf" name="Shelf" class="form-control" value="{{ order.Shelf }}">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary"onclick="return confirm('Are you sure you want to edit this order?')">Submit</button>
                    <a href="/delete_order/{{ order.Order_ID }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this order?')">Delete Order</a>
                    <a href="javascript:history.go(-1)" class="btn btn-primary back-button">Back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
