{% extends "base.html" %}

{% block title %} Holzbau AG - Welcome {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
                <p class="d-flex justify-content-center align-items-center">{{ content }}</p>
            </div>
            <div class="col-md-12">
                <p class="d-flex justify-content-center align-items-center">{{ content2 }}</p>
                <p class="d-flex justify-content-center align-items-center">{{ content3 }}</p>
            </div>
        </div>
    </div>
{% endblock %}
