<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Holzbau AG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/customer-data">Customer Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order_data2">Order Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Top_10">Top Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/visualizations">Visualizations</a>
            </li>
            <!-- Add more navigation links as needed -->
        </ul>
    </div>
</nav>
