{% extends "base.html" %}

{% block title %}
    Order Data Page
{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
    <!-- Button to add new order data -->
    <a href="{{ url_for('holzbauag.add_order_data') }}" class="btn btn-dark">Add Order Data</a>
    <!-- Display order_data table -->
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Customer ID</th>
                    <th>Price</th>
                    <th>Chair</th>
                    <th>Stool</th>
                    <th>Table</th>
                    <th>Cabinet</th>
                    <th>Dresser</th>
                    <th>Couch</th>
                    <th>Bed</th>
                    <th>Shelf</th>
                    <th>Edit Data</th>
                    <!-- Add other table headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for order in order_data %}
                <tr>
                    <td>{{ order.Order_ID }}</td>
                    <td>{{ order.Date }}</td>
                    <td>{{ order.Customer_ID }}</td>
                    <td>{{ order.Price }}</td>
                    <td>{{ order.Chair }}</td>
                    <td>{{ order.Stool }}</td>
                    <td>{{ order.Table }}</td>
                    <td>{{ order.Cabinet }}</td>
                    <td>{{ order.Dresser }}</td>
                    <td>{{ order.Couch }}</td>
                    <td>{{ order.Bed }}</td>
                    <td>{{ order.Shelf }}</td>
                    <td><a href="/edit_order/{{ order.Order_ID }}">Edit</a></td>
                    <!-- Add other table data as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
