{% extends "base.html" %}

{% block title %}
    Order Data Page
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center align-items-center">{{ title }}</h1>
    <!-- Display order_data table -->
    <div class="container mt-5">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Customer ID</th>
                    <th>Price</th>
                    <th>Chair</th>
                    <th>Stool</th>
                    <th>Table</th>
                    <th>Cabinet</th>
                    <th>Dresser</th>
                    <th>Couch</th>
                    <th>Bed</th>
                    <th>Shelf</th>
                    <th>Edit Data</th>
                    <!-- Add other table headers as needed -->
                </tr>
            </thead>
            <tbody>
                <!-- Empty row for add data button -->
                <tr>
                    <td colspan="12"></td> <!-- span across all columns -->
                    <td><a href="{{ url_for('holzbauag.add_order_data') }}" class="btn btn-outline-success btn-sm">Add Data</a></td>
                </tr>
                {% for order in order_data %}
                <tr>
                    <td>{{ order.Order_ID }}</td>
                    <td>{{ order.Date }}</td>
                    <td>{{ order.Customer_ID }}</td>
                    <td>{{ order.Price }}</td>
                    <td>{{ order.Chair }}</td>
                    <td>{{ order.Stool }}</td>
                    <td>{{ order.Table }}</td>
                    <td>{{ order.Cabinet }}</td>
                    <td>{{ order.Dresser }}</td>
                    <td>{{ order.Couch }}</td>
                    <td>{{ order.Bed }}</td>
                    <td>{{ order.Shelf }}</td>
                    <td><a href="/edit_order/{{ order.Order_ID }}" class="btn btn-outline-dark btn-sm">Edit Row</a></td>
                    <!-- Add other table data as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <p>&copy; 2024 Holzbau AG. All rights reserved.</p>
    </footer>
{% endblock %}

