{% extends "base.html" %}

{% block title %} Visualizations Page {% endblock%}

{% block content %}
    <h1>{{ title }}</h1>

    <!-- Display the selected row for editing -->
    <h2>Edit Data for Row: {{ selected_row_index }}</h2>

    <!-- Add your form for editing the selected row data -->
    <form method="post" action="{{ url_for('holzbauag.save_edited_row') }}">
        <!-- Add the hidden input field for selected_row_index -->
        <input type="hidden" name="selected_row_index" value="{{ selected_row_index }}">

        {% for col_name in column_names %}
            <label for="{{ col_name }}">{{ col_name }}:</label>
            <input type="text" name="{{ col_name }}" value="{{ selected_row_data[loop.index0] }}">
            <br>
        {% endfor %}
        <button type="submit" name="action" value="save_edit">Save Edit</button>
    </form>
{% endblock %}