{% extends "base.html" %}

{% block title %} Visualizations Page {% endblock%}

{% block content %}
    <h1>{{ title }}</h1>

    <!-- Display the selected row for editing -->
    <h2>Edit Customer Data for Row: {{ customer_row_index }}</h2>

    <!-- Add your form for editing the selected row data -->
    <form method="post" action="{{ url_for('holzbauag.save_customer_edited_row') }}">
        <!-- Add the hidden input field for selected_row_index -->
        <input type="hidden" name="customer_row_index" value="{{ customer_row_index }}">

        <label for="Customer_ID">Customer ID:</label>
        <input type="text" name="Customer_ID" value="{{ customer_row_data[0] }}">
        <br>

        <label for="Customer_Last_Name">Last Name:</label>
        <input type="text" name="Customer_Last_Name" value="{{ customer_row_data[1] }}">
        <br>

        <label for="Customer_First_Name">First Name:</label>
        <input type="text" name="Customer_First_Name" value="{{ customer_row_data[2] }}">
        <br>

        <label for="Age">Age:</label>
        <input type="text" name="Age" value="{{ customer_row_data[3] }}">
        <br>

        <label for="Country">Country:</label>
        <input type="text" name="Country" value="{{ customer_row_data[4] }}">
        <br>

        <button type="submit" name="action" value="save_edit">Save Edit</button>
    </form>

    <a href="javascript:history.go(-1)" class="back-button">Back</a>
{% endblock %}